$font-color: white;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image:url(../images/friend_finder_home.jpg);
    background-size: 100%;
    font-family: 'Arapey', serif;
    line-height: 1.6;
}

// Home Page
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.banner{
    background-color: #9BA685;
    font-size: 25px;
    color: $font-color;
    text-align: center;
    padding: 20px;
}
.btn-primary {
    display: inline-block;
    background-color: #697353;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 15px;
    text-decoration: none;
    color: $font-color;
  
    &:hover {
      transform: scale(.98);
    }
  }

//   Survey Page

.name{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #697353;
    font-size: 60px;
    margin: 20px;
    padding: 20px;
    color:$font-color;
}

.survey{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BA685;
    font-size: 60px;
    color: $font-color;
    text-align: center;
    padding: 8px 20px;
    margin: 20px;
}